---
- block:
    - name: Include OS specific variables.
      include_vars: "configure-{{ ansible_os_family }}.yml"

    - name: Include OS specific selinux libs and utils if needed
      include: "selinux-{{ ansible_os_family }}.yml"
      when: ansible_selinux.status is defined and ansible_selinux.status == "enabled"

    - name: Check if SystemD service is installed
      stat:
        path: /etc/systemd/system/nexus.service
      register: nexus_systemd_service_file

    - include: nexus_purge.yml
      when: ((purge is defined) and (purge | bool))
  when: nexus_install_enable

- name: Override nexus_data_dir when not using install functionality
  set_fact:
    nexus_data_dir: "./tmp-ansible"
  when: not nexus_install_enable

- include: nexus_config.yml

- include: nexus_install.yml
  when: nexus_install_enable

- include: nexus_provision.yml

- include: httpd_reverse_proxy_config.yml
  when: httpd_setup_enable and nexus_install_enable

- include: admin_password_setup.yml

- name: Deleting default repositories
  include: delete_repo_each.yml
  with_items:
    - maven-central
    - maven-public
    - maven-releases
    - maven-snapshots
    - nuget-group
    - nuget-hosted
    - nuget.org-proxy
  when: nexus_delete_default_repos and (nexus_install_enable or (nexus_data_dir_contents is defined and nexus_data_dir_contents.stdout == ""))

- name: Deleting default blobstore
  include: delete_blobstore_each.yml
  with_items:
    - name: default
    - name: "{{ nexus_blob_names.raw.blob }}"
    - name: "{{ nexus_blob_names.pypi.blob }}"
    - name: "{{ nexus_blob_names.docker.blob }}"
    - name: "{{ nexus_blob_names.ruby.blob }}"
    - name: "{{ nexus_blob_names.bower.blob }}"
    - name: "{{ nexus_blob_names.npm.blob }}"
    - name: "{{ nexus_blob_names.nuget.blob }}"
    - name: "{{ nexus_blob_names.mvn.blob }}"
    - name: "{{ nexus_blob_names.gitlfs.blob }}"
    - name: "{{ nexus_blob_names.yum.blob }}"
  when: nexus_delete_default_blobstore and (nexus_install_enable or (nexus_data_dir_contents is defined and nexus_data_dir_contents.stdout == ""))

- include: setup_ldap_each.yml
  with_items: "{{ ldap_connections }}"

- include: setup_privilege_each.yml
  with_items: "{{ nexus_privileges }}"

- include: setup_role_each.yml
  with_items: "{{ nexus_roles }}"

- include: setup_user_each.yml
  with_items: "{{ nexus_local_users }}"

- name: "Digest splited blob list var"
  include_vars: blob_vars.yml
  when: nexus_blob_split

- include: create_blobstore_each.yml
  with_items: "{{ nexus_blobstores }}"
  when: nexus_restore_point is undefined

- name: "Restore nexus backup"
  include: nexus-restore.yml
  when: nexus_restore_point is defined and nexus_install_enable

- include: nexus_repositories.yml

- include: call_script.yml
  vars:
    script_name: setup_anonymous_access
    args:
      anonymous_access: "{{ nexus_anonymous_access }}"

- include: call_script.yml
  vars:
    script_name: setup_base_url
    args:
      base_url: "https://{{ public_hostname }}/"

- include: call_script.yml
  vars:
    script_name: setup_http_proxy
    args:
      with_http_proxy: "{{ nexus_with_http_proxy }}"
      http_proxy_host: "{{ nexus_http_proxy_host }}"
      http_proxy_port: "{{ nexus_http_proxy_port }}"
      http_proxy_username: "{{ nexus_http_proxy_username }}"
      http_proxy_password: "{{ nexus_http_proxy_password }}"
      with_https_proxy: "{{ nexus_with_https_proxy }}"
      https_proxy_host: "{{ nexus_https_proxy_host }}"
      https_proxy_port: "{{ nexus_https_proxy_port }}"
      https_proxy_username: "{{ nexus_https_proxy_username }}"
      https_proxy_password: "{{ nexus_https_proxy_password }}"
      proxy_exclude_hosts: "{{ nexus_proxy_exclude_hosts }}"
  when: nexus_with_http_proxy

- include: call_script.yml
  vars:
    script_name: setup_realms
    args:
      nuget_api_key_realm: "{{ nexus_nuget_api_key_realm }}"
      npm_bearer_token_realm: "{{ nexus_npm_bearer_token_realm }}"
      rut_auth_realm: "{{ nexus_rut_auth_realm }}"
      ldap_realm: "{{ nexus_ldap_realm }}"
      docker_bearer_token_realm: "{{ nexus_docker_bearer_token_realm }}"

- include: call_script.yml
  vars:
    script_name: setup_email
    args:
      email_server_enabled: "{{ nexus_email_server_enabled }}"
      email_server_host: "{{ nexus_email_server_host }}"
      email_server_port: "{{ nexus_email_server_port }}"
      email_server_username: "{{ nexus_email_server_username }}"
      email_server_password: "{{ nexus_email_server_password }}"
      email_from_address: "{{ nexus_email_from_address }}"
      email_subject_prefix: "{{ nexus_email_subject_prefix }}"
      email_tls_enabled: "{{ nexus_email_tls_enabled }}"
      email_tls_required: "{{ nexus_email_tls_required }}"
      email_ssl_on_connect_enabled: "{{ nexus_email_ssl_on_connect_enabled }}"
      email_ssl_check_server_identity_enabled: "{{ nexus_email_ssl_check_server_identity_enabled }}"
      email_trust_store_enabled: "{{ nexus_email_trust_store_enabled }}"

- name: Configure branding capability
  include: call_script.yml
  vars:
    script_name: setup_capability
    args:
      capability_typeId: "rapture.branding"
      capability_properties:
        footerHtml: "{{ nexus_capability_branding_footer }}"
        headerHtml: "{{ nexus_capability_branding_header }}"
        footerEnabled: "{{ nexus_capability_branding_footer != '' }}"
        headerEnabled: "{{ nexus_capability_branding_header != '' }}"
  when: nexus_capability_branding_enable

- name: Configure audit capability
  include: call_script.yml
  vars:
    script_name: setup_capability
    args:
      capability_typeId: "audit"
  when: nexus_capability_audit_enable

- include: create_task_each.yml
  with_items: "{{ nexus_scheduled_tasks }}"

- name: Configure nexus backup task
  include: call_script.yml
  vars:
    script_name: create_task
    args:
      name: db and blobstores backup
      typeId: script
      cron: "{{ nexus_backup_cron }}"
      taskProperties:
        language: groovy
        source: "{{ lookup('template', './templates/backup.groovy.j2') }}"
  when: nexus_backup_configure | bool

- include: call_script.yml
  vars:
    script_name: disable_default_admin_user
    args: "{}"
  when: nexus_disable_default_admin_user